

{% extends 'news/base.html' %}

{% block content %}

{% for item in news %}

<div class="container">
  <div class="row">
  	{% if item.source_name %}
    <div class="col-sm-2">      
      SOURCE
    </div>
    <div class="col-sm-10 item">
      {{item.source_name}}
    </div>
    {% endif %}
  </div>
    <div class="row">
  	{% if item.author%}
    <div class="col-sm-2">      
      AUTHOR
    </div>
    <div class="col-sm-10">
     {{item.author}}
    </div>
    {% endif %}
  </div>
   <div class="row">
  	{% if item.published_date%}
    <div class="col-sm-2">      
      PUBLISHED_DATE
    </div>
    <div class="col-sm-10">
     {{item.published_date}}
    </div>
    {% endif %}
  </div>
  <div class="row">
  	{% if item.title%}
    <div class="col-sm-2">      
      TITLE
    </div>
    <div class="col-sm-10">
     {{item.title}}
    </div>
    {% endif %}
  	</div>
    <div class="row">
    <div class="col-sm-2">      
     URL
    </div>
    <div class="col-sm-10">
     <a href = {{item.url}}>{{item.url}}</a>
    </div></div>
   <div class="row">
  	{% if item.description%}
    <div class="col-sm-2">      
      DESCRIPTION
    </div>
    <div class="col-sm-10">
     {{item.description}}
    </div>
    {% endif %}
  </div>
  <div class="row">    
  </div>
</div>

	
	<br><br>
{% endfor %}

{% endblock %}